.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}

#tab-findroom {
  background-color: #A0A0A0;
}

.none {
  display: none;
}

.container {
  height: 85vh;
  margin-top: 50px;
  background-color: #59acff;
  -o-object-fit: fill;
  object-fit: fill;
}

.body {
  background-color: #2972df;
}

.div-block {
  padding-top: 0px;
}

.div-block-2 {
  overflow: scroll;
  height: 70vh;
  padding-top: 50px;
  padding-right: 51px;
  padding-left: 50px;
  background-color: #96c0ff;
  -o-object-fit: fill;
  object-fit: fill;
}

.button {
  width: 200px;
  height: 50px;
  margin-top: 4vh;
  margin-left: 6vw;
  border-radius: 0px;
  text-align: center;
}

.grid {
  margin-top: 0;
  padding-top: 2.5vh;
  margin-bottom: auto;
  -ms-grid-columns: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}

.button-2 {
  width: 100px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  text-align: center;
}

.button-3 {
  width: 100px;
  margin-right: auto;
  margin-left: auto;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 700;
  text-align: center;
}

.button-4 {
  width: 100px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.roomlist {
  height: 100px;
  padding-top: 23px;
  padding-right: 50px;
  padding-left: 70px;
  border-style: solid;
  border-width: 1px;
  border-color: rgba(0, 0, 0, 0.22);
  background-color: #a0a0a0;
  cursor: pointer;
}

.tab-findroom {
  overflow: scroll;
  height: 65vh;
}

.paragraph {
  display: inline-block;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 30px;
  line-height: 50px;
  font-weight: 700;
  text-align: left;
}

.div-block-3 {
  display: inline-block;
  width: 100px;
  height: 50px;
  background-color: #5397db;
}

.div-block-3.notavailable {
  background-color: #e54f4f!important;
}

.paragraph-2 {
  margin-top: -3px;
  margin-bottom: auto;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 30px;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
}

.paragraph-3 {
  margin-bottom: auto;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 15px;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
}

.paragraph-4 {
  margin-bottom: auto;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 30px;
  line-height: 55px;
  font-weight: 700;
  text-align: center;
  float:left;
  padding-left:20px;
}

.paragraph-5 {
  background-color: #32a852;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 30px;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
  cursor: grab;
}

.div-block-10 {
  height:fit-content;
}

.tab-pane-createroom {
  height: 65vh;
  padding: 30px;
  background-color: #a0a0a0;
}

.tab-link-createroom {
  background-color: #fff;
}

.tab-link-createroom.w--current {
  background-color: #a0a0a0;
}

.tab-link-findroom {
  background-color: #fff;
}

.tab-link-findroom.w--current {
  background-color: #a0a0a0;
}

.tabs-content {
  overflow: hidden;
}

.div-block-4 {
  width: 100%;
  height: 100%;
  background-color: #ddd;
}

.text-field {
  width: 300px;
  margin-top: 20px;
}

.field-label {
  width: auto;
  height: auto;
  margin: 15px;
  padding-top: 0px;
  padding-right: 0px;
  float: left;
  font-family: 'Noto Sans KR', sans-serif;
  font-size: 30px;
  line-height: 50px;
}

.field-label-2 {
  width: auto;
  height: auto;
  margin-top: 15px;
  margin-left: 15px;
  float: left;
  font-size: 30px;
  line-height: 50px;
}

.text-field-2 {
  width: 300px;
}

.button-5 {
  margin-top: 5px;
  margin-right: 20px;
  margin-left: 20px;
}

.div-block-5 {
  width: 100%;
  height: 100%;
}

.grid-2 {
  height: 50%;
  padding-right: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  grid-column-gap: 30px;
  grid-row-gap: 10px;
  grid-template-areas: "."
    "."
    "."
    "."
    "Area";
  -ms-grid-columns: 2fr 30px 1fr;
  grid-template-columns: 2fr 1fr;
  -ms-grid-rows: minmax(auto, 0.25fr) 10px auto 10px auto 10px auto;
  grid-template-rows: minmax(auto, 0.25fr) auto auto auto;
  background-color: #fff;
}

.grid-3 {
  height: 60%;
  padding: 20px;
  grid-row-gap: 4px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto auto auto;
  grid-template-rows: auto auto auto auto;
  background-color: #fff;
}

.div-block-6 {
  height: 40%;
  background-color: #c9c9c9;
}

.div-block-7 {
  height: 80%;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left: 20px;
  background-color: #8b8b8b;
}

.div-block-8 {
  height: 20%;
  margin-right: 20px;
  margin-left: 20px;
  background-color: #000;
}

#chat {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .grid {
    -ms-grid-columns: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
  }
}

.tab-findroom::-webkit-scrollbar {
  display: none;
}

.tab-findroom {
  scrollbar-width: none;
}

#chathtml {
  overflow-y:scroll;
  padding: 10px;
}

.ingamestats {
  display: none;
  position: fixed;
  width: 250px;
  left: 0;
  height: 100vh;
}

.ingamechat {
  height: 30%;
  width: 100%;
}

.ingamecalls {
  height: 30%;
  width: 100%;
}

.ingamebuttons {
  height: 20%;
  width: 100%;
}

.ingamemyMoney {
  height: 20%;
  width: 100%;
}

.ingamechatlist {
  height: 90%;
  background-color: #8b8b8b;
  overflow-y: scroll;
}

.ingamechatinput {
  width: 100%;
}

#ingamebuttonsupper {
  width: 100%;
  height: 40%;
}

#ingamebuttonslower {
  width: 100%;
  height: 60%;
}

#myRange {
  float:left;
}

#sliderview {
  padding-top: 10px;
  float:left;
}

#ingamebuttons a {
  display: block;
  width: 70px;
  height: 50px;
  padding: 10px;
  float: left;
  color: #000;
  font-size: 15px;
  background-color:#32a852;
  text-decoration: none;
}